body {
    font-family: 'Work Sans', sans-serif;
    max-width: 1600px;
    margin: auto;
}



/* header related styles */



header {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    height: 809px;
    background-size: cover;




}

.banner {
    text-align: right;
    padding: 215px 230px 180px 840px;
}

.banner-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;

}

.banner-info {
    color: var(--Dark-02, #444343);
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 32px;
}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    width: 160px;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;


}

/* failure related styles */

.failure-container {
    padding: 130px 320px 0 200px;
    display: flex;
    align-items: center;


}

.failure-pic {}

.failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;

}

.failure-info {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.failure-list {
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    list-style: none;
}

.failure-list li:before {
    content: '✓';
    color: #16D887;
}

/* plans related styles */
.plans-container {

    padding: 130px 230px 0 230px;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;

}

.plans-title {
    color: var(--Dark-01, #151414);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.plans-content-img {
    width: 92.958px;
    height: 92.958px;
    align-items: center;
    padding: 50px;
    margin-bottom: 24px;

}

.plans-content-title {
    color: var(--Dark-01, #151414);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 0;

}

.plans-content-des {
    text-align: center;
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;


}

.plans-title-list {
    display: flex;
    justify-content: space-between;


}

.plans-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* plans container 2 related style */

.plans-container-2 {
    padding: 130px 230px 0 230px;
    width: 1140px;
    height: 300px;
    margin-top: 200px;
    margin-bottom: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;

   


}

.plans-2-title {
    color: #FFF;

    font-size: 40px;

    font-weight: 700;
    text-align: left;
}

.btn-secondary {
    color: #F15B22;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    border: 0;

}


/* footer related styles */

footer {
    display: flex;
    background: black;
    padding: 130px 230px;
    margin-top: 100px;
    gap: 100px;
    
    background-size:cover;
    
}

.footer-column {
    width: 50%;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;

}
.contact input{
    display: block;
    margin-bottom: 16px;
}

.footer-description {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.footer-title-2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.social-links a {
    margin-right: 25px;
}

input {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: var(--Dark-01, #151414);
    width: 325px;
    height: 64px;
    flex-shrink: 0;
}